.game{
    width: 600px;
    height: 200px;
    border-bottom: 1px solid;
    margin: auto;
}
.cat{   
    width: 90px;
    height: 80px;
    background: url("cat2.png") no-repeat center;
    background-size: cover;
    position: relative;
    transform: scale(1, -1) rotate(213deg);
    top: 77px;
        
}
.cucu{
    width: 20px;
    height: 50px;
    background: url("cucumber.jpeg") no-repeat center;
    background-size: cover;
    position: relative;
    top: 150px;
    left: 580px;
    animation: cucu 1s linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes cucu{
    0%{left: 580px;}
    100%{left: -20px;}
}
.jump{
    animation: jump 0.7s;
}
@keyframes jump{
    0%{top: 77px;}
    30%{top: 0px; transform: scale(2, -1) rotate(580deg);}
    50%{top: 0px; transform: scale(2, -1) rotate(580deg);}
    90%{top: 0px; transform: scale(2, -1) rotate(580deg);}
    100%{top: 77px;}
}